@{
    ViewData["Title"] = "Add Crash";
}
@model EditAddCrashData
<div class="container-fluid">
    <form class="form" asp-controller="Home" asp-action="AddCrash" method="post">
        <div class="row">
            <div class="col-4 form-group">
                <input asp-for="@Model.crash.CRASH_DATETIME" />
            </div>
            @*<input type="hidden" asp-for="@Model.crash.CRASH_DATETIME" />


        <input type="hidden" asp-for="@Model.crash.year" />
        
        <input type="hidden" asp-for="@Model.crash.minute" />
        <input type="hidden" asp-for="@Model.crash.may" />*@
            <div class="col-4 form-group">
                <label asp-for="@Model.crash.weekday">Weekday</label>
                <select asp-for="@Model.crash.weekday">
                    <option value="Sunday">Sunday</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                </select>
            </div>
            <div class="col-4 form-group">
                <label asp-for="@Model.crash.month">Month</label>
                <select asp-for="@Model.crash.month">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                    
                </select>
            </div>
            <div class="col-4 form-group">
                <label asp-for="@Model.crash.hour">Hour</label>
                <select asp-for="@Model.crash.hour">
                    <option value="0">12am</option>
                    <option value="1">1am</option>
                    <option value="2">2am</option>
                    <option value="3">3am</option>
                    <option value="4">4am</option>
                    <option value="5">5am</option>
                    <option value="6">6am</option>
                    <option value="7">7am</option>
                    <option value="8">8am</option>
                    <option value="9">9am</option>
                    <option value="10">10am</option>
                    <option value="11">11am</option>
                    <option value="12">12pm</option>
                    <option value="13">1pm</option>
                    <option value="14">2pm</option>
                    <option value="15">3pm</option>
                    <option value="16">4pm</option>
                    <option value="17">5pm</option>
                    <option value="18">6pm</option>
                    <option value="19">7pm</option>
                    <option value="20">8pm</option>
                    <option value="21">9pm</option>
                    <option value="22">10pm</option>
                    <option value="23">11pm</option>
                </select>
            </div>
            <div class="col-4 form-group">
                <label asp-for="@Model.crash.ROUTE">Route</label>
                <input asp-for="@Model.crash.ROUTE" />
            </div>
            <div class="col-4 form-group">
                <label asp-for="@Model.crash.MILEPOINT">Milepoint</label>
                <input asp-for="@Model.crash.MILEPOINT" />
            </div>
            <div class="col-4 form-group">
                <label asp-for="@Model.crash.LAT_UTM_Y">Latitude</label>
                <input asp-for="@Model.crash.LAT_UTM_Y" />
            </div>
            <div class="col-4 form-group">
                <label asp-for="@Model.crash.LONG_UTM_X">Longitude</label>
                <input asp-for="@Model.crash.LONG_UTM_X" />
            </div>
            <div class="col-4 form-group">
                <label asp-for="@Model.crash.MAIN_ROAD_NAME">Main Road Name</label>
                <input asp-for="@Model.crash.MAIN_ROAD_NAME" />
            </div>
            <div class="col-4 form-group">
                <label asp-for="@Model.crash.CITY_ID">City</label>
                <select asp-for="@Model.crash.CITY_ID">
                    <option value=""></option>
                    @foreach (City c in Model.Cities)
                    {
                        <option value="@c.CITY_ID">@c.CITY</option>
                    }
                </select>
            </div>
            <div class="col-4 form-group">
                <label asp-for="@Model.crash.COUNTY_ID">County</label>
                <select asp-for="@Model.crash.COUNTY_ID">
                    <option value=""></option>
                    @foreach (County cc in Model.County)
                    {
                        <option value="@cc.COUNTY_ID">@cc.COUNTY_NAME</option>
                    }
                </select>
            </div>
            <div class="col-4 form-group">
                <label asp-for="@Model.crash.CRASH_SEVERITY_ID">Severity</label>
                <select asp-for="@Model.crash.CRASH_SEVERITY_ID">
                    <option value=""></option>
                    @foreach (Severity s in Model.Severity)
                    {
                        <option value="@s.CRASH_SEVERITY_ID">@s.DESCRIPTION</option>
                    }
                </select>
            </div>
            <div class="col-4 form-group">
                <label>Was a Ped Involved?</label>
                <select asp-for="@Model.crash.PEDESTRIAN_INVOLVED">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
            <div class="col-4 form-group">
                <label>Was a Cyclist Involved?</label>
                <select asp-for="@Model.crash.BICYCLIST_INVOLVED">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
            <div class="col-4 form-group">
                <label>Was a motorcycle_involved Involved?</label>
                <select asp-for="@Model.crash.MOTORCYCLE_INVOLVED">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
            <div class="col-4 form-group">
                <label>Was a  improper_restraint Involved?</label>
                <select asp-for="@Model.crash.IMPROPER_RESTRAINT">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
            <div class="col-4 form-group">
                <label>Was a unrestrained Involved?</label>
                <select asp-for="@Model.crash.UNRESTRAINED">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
            <div class="col-4 form-group">
                <label>Was a dui Involved?</label>
                <select asp-for="@Model.crash.DUI">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
            <div class="col-4 form-group">
                <label>Was a intersection_related Involved?</label>
                <select asp-for="@Model.crash.INTERSECTION_RELATED">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
            <div class="col-4 form-group">
                <label>Was a overturn_rollover Involved?</label>
                <select asp-for="@Model.crash.OVERTURN_ROLLOVER">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
            <div class="col-4 form-group">
                <label>Was a older_driver_involved Involved?</label>
                <select asp-for="@Model.crash.OLDER_DRIVER_INVOLVED">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
            <div class="col-4 form-group">
                <label>Was a single_vehicle Involved?</label>
                <select asp-for="@Model.crash.SINGLE_VEHICLE">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
            <div class="col-4 form-group">
                <label>Was a distracted_driving Involved?</label>
                <select asp-for="@Model.crash.DISTRACTED_DRIVING">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
            <div class="col-4 form-group">
                <label>Was a drowsy_driving Involved?</label>
                <select asp-for="@Model.crash.DROWSY_DRIVING">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
            <div class="col-4 form-group">
                <label>Was a roadway departure Involved?</label>
                <select asp-for="@Model.crash.ROADWAY_DEPARTURE">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
            <div class="col-4 form-group">
                <label>Was a work zone Invloved?</label>
                <select asp-for="@Model.crash.WORK_ZONE_RELATED">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
            <div class="col-4 form-group">
                <label asp-for="@Model.crash.WILD_ANIMAL_RELATED">Was a wild animal Invloved?</label>
                <select asp-for="@Model.crash.WILD_ANIMAL_RELATED">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
            <div class="col-4 form-group">
                <label asp-for="@Model.crash.DOMESTIC_ANIMAL_RELATED">Was a domestic animal Invloved?</label>
                <select asp-for="@Model.crash.DOMESTIC_ANIMAL_RELATED">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
            <div class="col-4 form-group">
                <label asp-for="@Model.crash.COMMERCIAL_MOTOR_VEH_INVOLVED">Was a commercial vehicle Invloved?</label>
                <select asp-for="@Model.crash.COMMERCIAL_MOTOR_VEH_INVOLVED">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
            <div class="col-4 form-group">
                <label asp-for="@Model.crash.TEENAGE_DRIVER_INVOLVED">Was a teenage driver Invloved?</label>
                <select asp-for="@Model.crash.TEENAGE_DRIVER_INVOLVED">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
            <div class="col-4 form-group">
                <label asp-for="@Model.crash.NIGHT_DARK_CONDITION">Was it dark Outside?</label>
                <select asp-for="@Model.crash.NIGHT_DARK_CONDITION">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
            <br /><br /><br />
            <div class="col-12 form-group">
                <button type="submit" class="btn btn-large">Add Crash</button>
            </div>

        </div>
    </form>
</div>
