@{
    ViewData["Title"] = "Explore Data";
}
@model ExploreDataInfo
<!-- Wrapper -->
<div id="" >
    <div class="row">
        <div class="col-2">
            <h4>Filters</h4>
            <br /> <a asp-action="EditCrash">Edit</a>
            <form class="form" method="post" asp-controller="Home" asp-action="ExploreData">
                <div class="form-group">
                    <lablel>County</lablel>
                    <select asp-for="Filter.county">
                        <option></option>
                        @foreach (County county in Model.County)
                        {
                            <option value="@county.COUNTY_ID">@county.COUNTY_NAME</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Filter.city">City</label>
                    <input asp-for="Filter.city" list="cities" type="text" />
                    <datalist id="cities">
                        @foreach (City city in Model.Cities)
                        {
                            <option value="@city.CITY"></option>
                        }
                    </datalist>
                </div>
                <div class="form-group">
                    <label asp-for="Filter.weekday">Weekday</label>
                    <select asp-for="Filter.weekday">
                        <option></option>
                        @foreach (string w in Model.weekday)
                        {
                            <option value="@w">@w</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Filter.year">Year</label>
                    <select asp-for="Filter.year">
                        <option></option>
                        @foreach (int y in Model.year)
                        {
                            <option value="@y">@y</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Filter.month">Month</label>
                    <select asp-for="Filter.month">
                        <option></option>
                        @foreach (MonthData mon in Model.month)
                        {
                            <option value="@mon.monthId">@mon.monthName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Filter.severity">Crash Severity</label>
                    <select asp-for="Filter.severity">
                        <option></option>
                        @foreach (Severity sev in Model.Severity)
                        {
                            <option value="@sev.CRASH_SEVERITY_ID">@sev.DESCRIPTION</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-sm ">Filter</button>
                    <br /><br />
                    <button class="btn btn-sm btn-secondary" asp-controller="Home" asp-action="ClearFilter">Clear</button>
                </div>
            </form>
            
            
        </div>
        <div class="col">
            <h4>Crash Data</h4>
            <br />
            <table class=" table-bordered ">
                <thead>
                    <tr>
                        <td>Date</td>
                        <td>County</td>
                        <td>City</td>
                        <td>Crash Severity</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Crashes.Count() > 0)
                    {
                        @foreach (var c in Model.Crashes)
                        {
                            <tr>
                                <td>
                                    @c?.weekday @c?.month/@c?.may/@c?.year
                                </td>
                                <td>@c?.County.COUNTY_NAME</td>
                                <td>@c?.CITY.CITY</td>
                                <td>@c?.Severity.DESCRIPTION</td>
                                <td>
                                    <a class="btn btn-sm" asp-controller="Home" asp-action="SingleRecord" asp-route-id="@c.CRASH_ID">View Details</a>
                                </td>
                            </tr>

                        }
                    }
                </tbody>
            </table>
            <br />
            <br />
            <a class="btn-group pull-right m-1 btn btn-outline-dark" asp-controller="Home" asp-action="ExploreData" asp-route-pageNum="1">First Page</a>
            <div crash-page="@Model.PageInfo" page-action="ExploreData"
                 page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
                 page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>
            <a class="btn-group pull-right m-1 btn btn-outline-dark" asp-controller="Home" asp-action="ExploreData" asp-route-pageNum="@Model.PageInfo.TotalPages"
                    >Last Page</a>
            <br />
            <br />
            <br />
       


        </div>
    </div>
</div>


<!-- Scripts -->
<script nonce="MasonEmmaRyanLevi" src="~/js/jquery.min.js"></script>
<script nonce="MasonEmmaRyanLevi" src="~/js/browser.min.js"></script>
<script nonce="MasonEmmaRyanLevi" src="~/js/breakpoints.min.js"></script>
<script nonce="MasonEmmaRyanLevi" src="~/js/util.js"></script>
<script nonce="MasonEmmaRyanLevi" src="~/js/main.js"></script>







