@{ ViewData["Title"] = "Home Page"; }
@model EditAddCrashData
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <div id="header">
        <div class="content">
            <div class="inner">
                <h1>Crash #@Model.crash.CRASH_ID Details</h1>
                <p>
                    On @Model.crash.CRASH_DATETIME.Value.ToLongDateString(), at
                    @{ if (Model.crash.minute > 9)
                        {
                            if (Model.crash.hour > 12)
                            {
                        <nobr>@(Model.crash.hour - 12):@(Model.crash.minute)PM, </nobr> }
                            else if (Model.crash.hour == 12)
                            {
                <nobr>@(Model.crash.hour):@(Model.crash.minute)PM, </nobr>}
                            else if (Model.crash.hour == 0)
                            {
                        <nobr>12:@(Model.crash.minute)AM, </nobr> }
                            else
                            {
                <nobr>@(Model.crash.hour):@(Model.crash.minute)AM, </nobr> }
                        }
                        else
                        {
                            if (Model.crash.hour > 12)
                            {
                <nobr>@(Model.crash.hour - 12):0@(Model.crash.minute)PM, </nobr> }
                            else if (Model.crash.hour == 12)
                            {
                <nobr>@(Model.crash.hour):0@(Model.crash.minute)PM, </nobr> }
                            else if (Model.crash.hour == 0)
                            {
                <nobr>12:0@(Model.crash.minute)AM, </nobr> }
                            else
                            {
                <nobr>@Model.crash.hour:0@(Model.crash.minute)AM, </nobr> }
                        } }

                    a motor vehicle accident occurred. As a result of the accident there was @(Model.crash.Severity.Sentence_Usable).

                    The driver was

                    @{ if (Model.crash.DISTRACTED_DRIVING == 1)
                        { <nobr> distracted. </nobr>}
                        else
                        { <nobr> not distracted. </nobr>} }

                    They were

                    @{ if (Model.crash.DROWSY_DRIVING == 1)
                        { <nobr>drowsy, </nobr>}
                        else
                        {<nobr>not drowsy, </nobr>} }

                    and were

                    @{ if (Model.crash.DUI == 1)
                        {<nobr>driving under the influence. </nobr>}
                        else
                        {<nobr>not driving under the influence. </nobr>} }

                    @{ if (Model.crash.OLDER_DRIVER_INVOLVED == 1)
                        {<nobr>There was an older driver. </nobr>} }
                    @{ if (Model.crash.TEENAGE_DRIVER_INVOLVED == 1)
                        {<nobr>There was a teenage driver. </nobr>} }


                    @{ if (Model.crash.PEDESTRIAN_INVOLVED == 1)
                        {<nobr>A pedestrian was involved in the accident. </nobr>} }

                    @{ if (Model.crash.BICYCLIST_INVOLVED == 1)
                        {<nobr>A cyclist was involved in the accident. </nobr>} }

                    @{ if (Model.crash.MOTORCYCLE_INVOLVED == 1)
                        {<nobr>A motorcycle was involved in the accident. </nobr>} }

                    @{ if (Model.crash.ROADWAY_DEPARTURE == 1)
                        {<nobr>A vehicle departed from the roadway. </nobr>} }

                    @{ if (Model.crash.IMPROPER_RESTRAINT == 1)
                        {
                            if (Model.crash.UNRESTRAINED == 1)
                            {<nobr>Persons involved were either improperly restrained or not restrained. </nobr>}
                            else
                            {<nobr>Persons involved were improperly restrained, though they had some form of restraint. </nobr>}
                        }
                        else
                        {
                            if (Model.crash.UNRESTRAINED == 1)
                            {<nobr>Persons involve were not restrained in any way. </nobr>}
                            else
                            {<nobr>All persons involved were properly restrained. </nobr>}
                        }
                      }

                    @{ if (Model.crash.WORK_ZONE_RELATED == 1)
                        {<nobr>The accident took place at or near a work zone. </nobr>} }

                    @{ if (Model.crash.INTERSECTION_RELATED == 1)
                        {<nobr>The accident took place at or near an intersection. </nobr>} }

                    @{ if (Model.crash.WILD_ANIMAL_RELATED == 1)
                        {<nobr>There was a wild animal involved. </nobr>} }

                    @{ if (Model.crash.DOMESTIC_ANIMAL_RELATED == 1)
                        {<nobr>There was a domestic animal involved. </nobr>} }

                    @{ if (Model.crash.OVERTURN_ROLLOVER == 1)
                        {<nobr>A vehicle rolled over. </nobr>} }

                    @{ if (Model.crash.COMMERCIAL_MOTOR_VEH_INVOLVED == 1)
                        {<nobr>Additionally, a commercial vehicle was involved. </nobr>} }

                    @{ if (Model.crash.SINGLE_VEHICLE == 1)
                        {<nobr>In total, only one vehicle was involved in this accident.</nobr>} }

                </p>
                <div class="holder-boy">
                    
                    <div class="cushyBoi">
                        <div class="table-wrapper model">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Date</td>
                                        <td>
                                            @Model.crash.CRASH_DATETIME.Value.ToShortDateString()
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Time</td>
                                        @{ if (Model.crash.minute > 9)
                                            {
                                                if (Model.crash.hour > 12)
                                                {
                                <td>@(Model.crash.hour - 12):@Model.crash.minute PM</td>
                                                }
                                                else if (Model.crash.hour == 12)
                                                {
                                <td>@(Model.crash.hour):@Model.crash.minute PM</td>
                                                }
                                                else if (Model.crash.hour == 0)
                                                {
                                <td>12:@Model.crash.minute AM</td> }
                                                else
                                                {
                                <td>@(Model.crash.hour):@Model.crash.minute AM</td>
                                                }
                                            }
                                            else
                                            {
                                                if (Model.crash.hour > 12)
                                                {
                                <td>@(Model.crash.hour - 12):0@(Model.crash.minute) PM</td>
                                                }
                                                else if (Model.crash.hour == 12)
                                                {
                                <td>@(Model.crash.hour):0@(Model.crash.minute) PM</td>
                                                }
                                                else if (Model.crash.hour == 0)
                                                {
                                <td>12:0@(Model.crash.minute) AM</td>
                                                }
                                                else
                                                {
                                <td>@Model.crash.hour:0@(Model.crash.minute) AM</td>
                                                }
                                            } }

                                    </tr>
                                    @{ if (Model.crash.WORK_ZONE_RELATED == 1)
                                        {
                                <tr>
                                    <td>Work Zone Related?</td>
                                    <td>Yes</td>
                                </tr> } }
                                    @{ if (Model.crash.PEDESTRIAN_INVOLVED == 1)
                                        {
                                <tr>
                                    <td>Pedestrian Involved?</td>
                                    <td>Yes</td>
                                </tr> } }
                                    @{ if (Model.crash.TEENAGE_DRIVER_INVOLVED == 1)
                                        {
                                <tr>
                                    <td>Teenage Driver Involved?</td>
                                    <td>Yes</td>
                                </tr>
                                        } }
                                    @{ if (Model.crash.BICYCLIST_INVOLVED == 1)
                                        {
                                <tr>
                                    <td>Cyclist Involved?</td>
                                    <td>Yes</td>
                                </tr>
                                        } }
                                    @{ if (Model.crash.MOTORCYCLE_INVOLVED == 1)
                                        {
                                <tr>
                                    <td>Motorcycle Involved?</td>
                                    <td>Yes</td>
                                </tr>
                                        } }
                                    @{ if (Model.crash.IMPROPER_RESTRAINT == 1)
                                        {
                                <tr>
                                    <td>Improper Restraint?</td>
                                    <td>Yes</td>
                                </tr> } }
                                    @{ if (Model.crash.UNRESTRAINED == 1)
                                        {
                                <tr>
                                    <td>Unrestrained?</td>
                                    <td>Yes</td>
                                </tr>
                                        } }
                                    @{ if (Model.crash.DUI == 1)
                                        {
                                <tr>
                                    <td>DUI?</td>
                                    <td>Yes</td>
                                </tr> } }
                                    @{ if (Model.crash.INTERSECTION_RELATED == 1)
                                        {
                                <tr>
                                    <td>Intersection Related?</td>
                                    <td>Yes</td>
                                </tr>
                                        } }
                                    @{ if (Model.crash.WILD_ANIMAL_RELATED == 1)
                                        {
                                <tr>
                                    <td>Wild Animal Related?</td>
                                    <td>Yes</td>
                                </tr> } }
                                    @{ if (Model.crash.DOMESTIC_ANIMAL_RELATED == 1)
                                        {
                                <tr>
                                    <td>Domestic Animal Related?</td>
                                    <td>Yes</td>
                                </tr>
                                        } }
                                    @{ if (Model.crash.OVERTURN_ROLLOVER == 1)
                                        {
                                <tr>
                                    <td>Rollover?</td>
                                    <td>Yes</td>
                                </tr>
                                        } }
                                    @{ if (Model.crash.COMMERCIAL_MOTOR_VEH_INVOLVED == 1)
                                        {
                                <tr>
                                    <td>Commercial Vehicle Involved?</td>
                                    <td>Yes</td>
                                </tr> } }
                                    @{ if (Model.crash.OLDER_DRIVER_INVOLVED == 1)
                                        {
                                <tr>
                                    <td>Older Driver Involved?</td>
                                    <td>Yes</td>
                                </tr>
                                        } }
                                    @{ if (Model.crash.NIGHT_DARK_CONDITION == 1)
                                        {
                                <tr>
                                    <td>Night/Dark Conditions?</td>
                                    <td>Yes</td>
                                </tr> } }
                                    @{ if (Model.crash.SINGLE_VEHICLE == 1)
                                        {
                                <tr>
                                    <td>Single Vehicle?</td>
                                    <td>Yes</td>
                                </tr>
                                        } }
                                    @{ if (Model.crash.DISTRACTED_DRIVING == 1)
                                        {
                                <tr>
                                    <td>Distracted Driving?</td>
                                    <td>Yes</td>
                                </tr> } }
                                    @{ if (Model.crash.DROWSY_DRIVING == 1)
                                        {
                                <tr>
                                    <td>Drowsy Driving?</td>
                                    <td>Yes</td>
                                </tr>
                                        } }
                                    @{ if (Model.crash.ROADWAY_DEPARTURE == 1)
                                        {
                                <tr>
                                    <td>Roadway Departure?</td>
                                    <td>Yes</td>
                                </tr> } }
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="model-box">
                        <iframe class="model"
                                frameborder="1"
                                referrerpolicy="no-referrer-when-downgrade"
                                @{
                                    string api_string = "https://www.google.com/maps/embed/v1/place?key=AIzaSyCroVEEEv1pj6RSfD_OPmpy0msLOvsOqXU&q=" + Model.crash.LAT_UTM_Y + "+" + Model.crash.LONG_UTM_X + "&zoom=16&maptype=satellite";
                                }
                                src=@api_string
                                allowfullscreen>
                        </iframe>
                    </div>

                </div>
            </div>
        </div>
        <nav>
            <ul class="main_buttons">
                @{if (User.IsInRole("Admin"))
                    {
                        <li><a href="#1">Edit</a></li>
                        <li><a href="#2">Delete</a></li>
                    } }

                <li><a href="#about">Predictions</a></li>
                <li><a href="#street">Street</a></li>
            </ul>
        </nav>
    </div>

    <!-- Main -->
    <div id="main">

        <!-- Intro -->
        <article id="1">
            <h2 class="major">Edit Record</h2>
            
            <span class="image main"><img src="images/Background.jpg" alt="" /></span>

            <partial name="EditCrash" model="@Model" />
        </article>

        <!-- Work -->
        <article id="2">
            <h2 class="major">Delete Record?</h2>
            <span class="image main"><img src="images/pic02.jpg" alt="" /></span>
            <partial name="DeleteCrash" model="@Model.crash" />
        </article>

        <!-- About -->
        <article id="about">
            <h2 class="major">Machine Learning Predictions</h2>
            <h4>We integrated a machine learning algorithm that takes data from a specific crash and predicts what the severity should be.</h4>
            <h4>Results will be one of the following: </h4>
            <ul>
                <li>1: No Injury</li>
                <li>2: Possible Injury</li>
                <li>3: Suspected Minor Injury</li>
                <li>4: Suspected Serious Injury</li>
                <li>5: Fatal</li>
            </ul>
            
            @*<h4>The predicted severity level was a level @ViewBag.prediction.PredictedValue</h4>*@
            <h4>The actual severity level is level @Model.crash.CRASH_SEVERITY_ID</h4>
            <br />
            <br />
            <h4>The alorithm used to make these predictions takes into account the factors that make an accident more severe.
            These predictions can help us determine what about a particular accident causes it more severe. Together we can do to better
            mitigate these severities and allow for Uthans to be safe on the roads.</h4>
        </article>

        <!-- Contact -->
        <article id="street">
            <h2 class="major">Accident Location Street View</h2>
            <div class="model-box2">
                <iframe class="model"
                        frameborder="1"
                        referrerpolicy="no-referrer-when-downgrade"
                        @{ string street_api_string = "https://www.google.com/maps/embed/v1/streetview?key=AIzaSyCroVEEEv1pj6RSfD_OPmpy0msLOvsOqXU&location=" + Model.crash.LAT_UTM_Y + "," + Model.crash.LONG_UTM_X + "&heading=210&pitch=0&fov=100"; }
                        src=@street_api_string
                        allowfullscreen>
                </iframe>
            </div>
        </article>
    </div>

    <!-- Footer -->
    <!--<footer id="footer">
        <p class="copyright">&copy; Utah Motor Vehicle Incidents. Design: <a href="https://html5up.net">Bear Maximum</a>.</p>
    </footer>-->

</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->
<script nonce="frick" src="~/js/jquery.min.js"></script>
<script nonce="frick" src="~/js/browser.min.js"></script>
<script nonce="frick" src="~/js/breakpoints.min.js"></script>
<script nonce="frick" src="~/js/util.js"></script>
<script nonce="frick" src="~/js/main.js"></script>