@{ ViewData["Title"] = "Home Page"; }
@model EditAddCrashData
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <div id="header">
        <div class="content">
            <div class="inner">
                <h1>Page Title</h1>
                <p>
                    On @Model.crash.CRASH_DATETIME.Value.ToLongDateString(), at
                    @{ if (Model.crash.minute > 9)
                                    {
                                        if (Model.crash.hour > 12)
                                        {
                        <td>@(Model.crash.hour - 12):@(Model.crash.minute)PM</td> }
                                        else if (Model.crash.hour == 12)
                                        {
                        <td>@(Model.crash.hour):@(Model.crash.minute)PM</td> }
                                        else if (Model.crash.hour == 0)
                                        {
                        <td>12:@(Model.crash.minute)AM</td> }
                    else
                    {
                <td>@(Model.crash.hour):@(Model.crash.minute)AM</td> }
                            }
                            else
                            {
                                if (Model.crash.hour > 12)
                                {
                <td>@(Model.crash.hour - 12):0@(Model.crash.minute) PM</td> }
                                else if (Model.crash.hour == 12)
                                {
                <td>@(Model.crash.hour):0@(Model.crash.minute) PM</td> }
                                else if (Model.crash.hour == 0)
                                {
                <td>12:0@(Model.crash.minute) AM</td> }
                                else
                                {
                <td>@Model.crash.hour:0@(Model.crash.minute)AM</td> }
                            } }

                    a motor vehicle accident occurred. As a result of the accident there was @(Model.crash.Severity.Sentence_Usable).

                    The driver was

                    @{ if (Model.crash.DISTRACTED_DRIVING == 1)
                        { <nobr> distracted. </nobr>}
                        else
                        { <nobr> not distracted. </nobr>} }

                    They were

                    @{ if (Model.crash.DROWSY_DRIVING == 1)
                        { <nobr>drowsy, </nobr>}
                        else
                        {<nobr>not drowsy, </nobr>} }

                    and were

                    @{ if (Model.crash.DUI == 1)
                        {<nobr>driving under the influence. </nobr>}
                        else
                        {<nobr>not driving under the influence. </nobr>} }

                    @{ if (Model.crash.OLDER_DRIVER_INVOLVED == 1)
                        {<nobr>There was an older driver. </nobr>} }
                    @{ if (Model.crash.TEENAGE_DRIVER_INVOLVED == 1)
                        {<nobr>There was a teenage driver. </nobr>} }


                    @{ if (Model.crash.PEDESTRIAN_INVOLVED == 1)
                        {<nobr>A pedestrian was involved in the accident. </nobr>} }

                    @{ if (Model.crash.BICYCLIST_INVOLVED == 1)
                        {<nobr>A cyclist was involved in the accident. </nobr>} }

                    @{ if (Model.crash.MOTORCYCLE_INVOLVED == 1)
                        {<nobr>A motorcycle was involved in the accident. </nobr>} }

                    @{ if (Model.crash.ROADWAY_DEPARTURE == 1)
                        {<nobr>A vehicle departed from the roadway. </nobr>} }

                    @{ if (Model.crash.IMPROPER_RESTRAINT == 1)
                        {
                            if (Model.crash.UNRESTRAINED == 1)
                                {<nobr>Persons involved were either improperly restrained or not restrained. </nobr>}
                            else
                                {<nobr>Persons involved were improperly restrained, though they had some form of restraint. </nobr>}
                        } 
                        else
                        {
                            if (Model.crash.UNRESTRAINED == 1)
                                {<nobr>Persons involve were not restrained in any way. </nobr>}
                            else
                                {<nobr>All persons involved were properly restrained. </nobr>}
                        }
                      }

                    @{ if (Model.crash.WORK_ZONE_RELATED == 1)
                        {<nobr>The accident took place at or near a work zone. </nobr>} }

                    @{ if (Model.crash.INTERSECTION_RELATED == 1)
                        {<nobr>The accident took place at or near an intersection. </nobr>} }

                    @{ if (Model.crash.WILD_ANIMAL_RELATED == 1)
                        {<nobr>There was a wild animal involved. </nobr>} }

                    @{ if (Model.crash.DOMESTIC_ANIMAL_RELATED == 1)
                        {<nobr>There was a domestic animal involved. </nobr>} }

                    @{ if (Model.crash.OVERTURN_ROLLOVER == 1)
                        {<nobr>A vehicle rolled over. </nobr>} }

                    @{ if (Model.crash.COMMERCIAL_MOTOR_VEH_INVOLVED == 1)
                        {<nobr>Additionally, a commercial vehicle was involved. </nobr>} }

                    @{ if (Model.crash.SINGLE_VEHICLE == 1)
                        {<nobr>In total, only one vehicle was involved in this accident.</nobr>} }

                </p>
                <div class="holder-boy">
                    <div class="cushyBoi">
                        <div class="table-wrapper model">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Date</td>
                                        <td>
                                            @Model.crash.CRASH_DATETIME.Value.ToShortDateString()
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Time</td>
                                        @{ if (Model.crash.minute > 9)
                                            {
                                                if (Model.crash.hour > 12)
                                                {
                                <td>@(Model.crash.hour - 12):@Model.crash.minute PM</td>
 }
                            else if (Model.crash.hour == 12)
                            {
                                <td>@(Model.crash.hour):@Model.crash.minute PM</td>
 }
                            else if (Model.crash.hour == 0)
                            {
                                <td>12:@Model.crash.minute AM</td> }
                                                else
                                                {
                                <td>@(Model.crash.hour):@Model.crash.minute AM</td>
 }
                        }
                        else
                        {
                            if (Model.crash.hour > 12)
                            {
                                <td>@(Model.crash.hour - 12):0@(Model.crash.minute) PM</td>
 }
                            else if (Model.crash.hour == 12)
                            {
                                <td>@(Model.crash.hour):0@(Model.crash.minute) PM</td>
 }
                            else if (Model.crash.hour == 0)
                            {
                                <td>12:0@(Model.crash.minute) AM</td>
 }
                            else
                            {
                                <td>@Model.crash.hour:0@(Model.crash.minute) AM</td>
 }
                        } }

                                    </tr>
                                    @{ if (Model.crash.WORK_ZONE_RELATED == 1)
                                        {
                                <tr>
                                    <td>Work Zone Related?</td>
                                    <td>Yes</td>
                                </tr> } }
                                    @{ if (Model.crash.PEDESTRIAN_INVOLVED == 1)
                                        {
                                <tr>
                                    <td>Pedestrian Involved?</td>
                                    <td>Yes</td>
                                </tr> } }
                                    @{ if (Model.crash.TEENAGE_DRIVER_INVOLVED == 1)
                                        {
                                <tr>
                                    <td>Teenage Driver Involved?</td>
                                    <td>Yes</td>
                                </tr>
 } }
                                    @{ if (Model.crash.BICYCLIST_INVOLVED == 1)
                                        {
                                <tr>
                                    <td>Cyclist Involved?</td>
                                    <td>Yes</td>
                                </tr>
 } }
                                    @{ if (Model.crash.MOTORCYCLE_INVOLVED == 1)
                                        {
                                <tr>
                                    <td>Motorcycle Involved?</td>
                                    <td>Yes</td>
                                </tr>
 } }
                                    @{ if (Model.crash.IMPROPER_RESTRAINT == 1)
                                        {
                                <tr>
                                    <td>Improper Restraint?</td>
                                    <td>Yes</td>
                                </tr> } }
                                    @{ if (Model.crash.UNRESTRAINED == 1)
                                        {
                                <tr>
                                    <td>Unrestrained?</td>
                                    <td>Yes</td>
                                </tr>
 } }
                                    @{ if (Model.crash.DUI == 1)
                                        {
                                <tr>
                                    <td>DUI?</td>
                                    <td>Yes</td>
                                </tr> } }
                                    @{ if (Model.crash.INTERSECTION_RELATED == 1)
                                        {
                                <tr>
                                    <td>Intersection Related?</td>
                                    <td>Yes</td>
                                </tr>
 } }
                                    @{ if (Model.crash.WILD_ANIMAL_RELATED == 1)
                                        {
                                <tr>
                                    <td>Wild Animal Related?</td>
                                    <td>Yes</td>
                                </tr> } }
                                    @{ if (Model.crash.DOMESTIC_ANIMAL_RELATED == 1)
                                        {
                                <tr>
                                    <td>Domestic Animal Related?</td>
                                    <td>Yes</td>
                                </tr>
 } }
                                    @{ if (Model.crash.OVERTURN_ROLLOVER == 1)
                                        {
                                <tr>
                                    <td>Rollover?</td>
                                    <td>Yes</td>
                                </tr>
 } }
                                    @{ if (Model.crash.COMMERCIAL_MOTOR_VEH_INVOLVED == 1)
                                        {
                                <tr>
                                    <td>Commercial Vehicle Involved?</td>
                                    <td>Yes</td>
                                </tr> } }
                                    @{ if (Model.crash.OLDER_DRIVER_INVOLVED == 1)
                                        {
                                <tr>
                                    <td>Older Driver Involved?</td>
                                    <td>Yes</td>
                                </tr>
 } }
                                    @{ if (Model.crash.NIGHT_DARK_CONDITION == 1)
                                        {
                                <tr>
                                    <td>Night/Dark Conditions?</td>
                                    <td>Yes</td>
                                </tr> } }
                                    @{ if (Model.crash.SINGLE_VEHICLE == 1)
                                        {
                                <tr>
                                    <td>Single Vehicle?</td>
                                    <td>Yes</td>
                                </tr>
 } }
                                    @{ if (Model.crash.DISTRACTED_DRIVING == 1)
                                        {
                                <tr>
                                    <td>Distracted Driving?</td>
                                    <td>Yes</td>
                                </tr> } }
                                    @{ if (Model.crash.DROWSY_DRIVING == 1)
                                        {
                                <tr>
                                    <td>Drowsy Driving?</td>
                                    <td>Yes</td>
                                </tr>
 } }
                                    @{ if (Model.crash.ROADWAY_DEPARTURE == 1)
                                        {
                                <tr>
                                    <td>Roadway Departure?</td>
                                    <td>Yes</td>
                                </tr> } }
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="model-box">
                        <iframe class="model"
                                frameborder="1"
                                referrerpolicy="no-referrer-when-downgrade"
                                @{
                                    string api_string = "https://www.google.com/maps/embed/v1/place?key=AIzaSyCroVEEEv1pj6RSfD_OPmpy0msLOvsOqXU&q=" + Model.crash.LAT_UTM_Y + "+" + Model.crash.LONG_UTM_X + "&zoom=16&maptype=satellite";
                                }
                                src=@api_string
                                allowfullscreen>
                        </iframe>
                    </div>

                </div>
            </div>
        </div>
        <nav>
            <ul class="main_buttons">
                <li><a href="#1">Edit</a></li>
                <li><a href="#2">Delete</a></li>
                <li><a href="#about">Button3</a></li>
                <li><a href="#contact">Buttonn</a></li>
            </ul>
        </nav>
    </div>

    <!-- Main -->
    <div id="main">

        <!-- Intro -->
        <article id="1">
            <h2 class="major">Edit Record</h2>
            
            <span class="image main"><img src="images/Background.jpg" alt="" /></span>

            <partial name="EditCrash" model="@Model" />
        </article>

        <!-- Work -->
        <article id="2">
            <h2 class="major">Delete Record?</h2>
            <span class="image main"><img src="images/pic02.jpg" alt="" /></span>
            <partial name="DeleteCrash" model="@Model.crash" />
        </article>

        <!-- About -->
        <article id="about">
            <h2 class="major">About</h2>
            <span class="image main"><img src="images/pic03.jpg" alt="" /></span>
            <p>Lorem ipsum dolor sit amet, consectetur et adipiscing elit. Praesent eleifend dignissim arcu, at eleifend sapien imperdiet ac. Aliquam erat volutpat. Praesent urna nisi, fringila lorem et vehicula lacinia quam. Integer sollicitudin mauris nec lorem luctus ultrices. Aliquam libero et malesuada fames ac ante ipsum primis in faucibus. Cras viverra ligula sit amet ex mollis mattis lorem ipsum dolor sit amet.</p>
        </article>

        <!-- Contact -->
        <article id="contact">
            <h2 class="major">Contact</h2>
            <form method="post" action="#">
                <div class="fields">
                    <div class="field half">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" />
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="4"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Send Message" class="primary" /></li>
                    <li><input type="reset" value="Reset" /></li>
                </ul>
            </form>
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
            </ul>
        </article>
    </div>

    <!-- Footer -->
    <!--<footer id="footer">
        <p class="copyright">&copy; Utah Motor Vehicle Incidents. Design: <a href="https://html5up.net">Bear Maximum</a>.</p>
    </footer>-->

</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->
<script nonce="frick" src="~/js/jquery.min.js"></script>
<script nonce="frick" src="~/js/browser.min.js"></script>
<script nonce="frick" src="~/js/breakpoints.min.js"></script>
<script nonce="frick" src="~/js/util.js"></script>
<script nonce="frick" src="~/js/main.js"></script>