@{ ViewData["Title"] = "Home Page"; }
@model Crash
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <div id="header">
        <div class="content">
            <div class="inner">
                <h1>Page Title</h1>
                <p>
                    On @Model.weekday, @Model.CRASH_DATETIME.Substring(0, Model.CRASH_DATETIME.IndexOf(" ")), at
                    @{ if (Model.minute > 9)
                                    {
                                        if (Model.hour > 12)
                                        {
                        <td>@(Model.hour - 12):@Model.minute PM</td> }
                                        else if (Model.hour == 12)
                                        {
                        <td>@(Model.hour):@Model.minute PM</td> }
                                        else if (Model.hour == 0)
                                        {
                        <td>12:@Model.minute AM</td> }
                    else
                    {
                <td>@(Model.hour):@Model.minute AM</td> }
                            }
                            else
                            {
                                if (Model.hour > 12)
                                {
                <td>@(Model.hour - 12):0@(Model.minute) PM</td> }
                                else if (Model.hour == 12)
                                {
                <td>@(Model.hour):0@(Model.minute) PM</td> }
                                else if (Model.hour == 0)
                                {
                <td>12:0@(Model.minute) AM</td> }
                                else
                                {
                <td>@Model.hour:0@(Model.minute)AM</td> }
                            } }

                    a car crash occurred. As a result of the crash there was @(Model.Severity.Sentence_Usable).

                    The driver was

                    @{ if (Model.DISTRACTED_DRIVING == 1)
                        { <nobr> distracted. </nobr>}
                        else
                        { <nobr> not distracted. </nobr>} }

                    They were

                    @{ if (Model.DROWSY_DRIVING == 1)
                        { <nobr>drowsy, </nobr>}
                        else
                        {<nobr>not drowsy, </nobr>} }

                    and were

                    @{ if (Model.DUI == 1)
                        {<nobr>driving under the influence. </nobr>}
                        else
                        {<nobr>not driving under the influence. </nobr>} }

                    @{ if (Model.OLDER_DRIVER_INVOLVED == 1)
                        {<nobr>There was an older driver. </nobr>} }
                    @{ if (Model.TEENAGE_DRIVER_INVOLVED == 1)
                        {<nobr>There was a teenage driver. </nobr>} }


                    @{ if (Model.PEDESTRIAN_INVOLVED == 1)
                        {<nobr>A pedestrian was involved in the accident. </nobr>} }

                    @{ if (Model.BICYCLIST_INVOLVED == 1)
                        {<nobr>A cyclist was involved in the accident. </nobr>} }

                    @{ if (Model.MOTORCYCLE_INVOLVED == 1)
                        {<nobr>A motorcycle was involved in the accident. </nobr>} }

                    @{ if (Model.ROADWAY_DEPARTURE == 1)
                        {<nobr>A vehicle departed from the roadway. </nobr>} }

                    @{ if (Model.IMPROPER_RESTRAINT == 1)
                        {
                            if (Model.UNRESTRAINED == 1)
                                {<nobr>Persons involved were either improperly restrained or not restrained. </nobr>}
                            else
                                {<nobr>Persons involved were improperly restrained, though they had some form of restraint. </nobr>}
                        } 
                        else
                        {
                            if (Model.UNRESTRAINED == 1)
                                {<nobr>Persons involve were not restrained in any way. </nobr>}
                            else
                                {<nobr>All persons involved were properly restrained. </nobr>}
                        }
                      }

                    @{ if (Model.WORK_ZONE_RELATED == 1)
                        {<nobr>The accident took place at or near a work zone. </nobr>} }

                    @{ if (Model.INTERSECTION_RELATED == 1)
                        {<nobr>The accident took place at or near an intersection. </nobr>} }

                    @{ if (Model.WILD_ANIMAL_RELATED == 1)
                        {<nobr>There was a wild animal involved. </nobr>} }

                    @{ if (Model.DOMESTIC_ANIMAL_RELATED == 1)
                        {<nobr>There was a domestic animal involved. </nobr>} }

                    @{ if (Model.OVERTURN_ROLLOVER == 1)
                        {<nobr>A vehicle rolled over. </nobr>} }

                    @{ if (Model.COMMERCIAL_MOTOR_VEH_INVOLVED == 1)
                        {<nobr>Additionally, a commercial vehicle was involved. </nobr>} }

                    @{ if (Model.SINGLE_VEHICLE == 1)
                        {<nobr>In total, only one vehicle was involved in this accident.</nobr>} }

                </p>
                <div class="holder-boy">
                    <div class="cushyBoi">
                        <div class="table-wrapper model">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Date</td>
                                        <td>
                                            @Model.CRASH_DATETIME.Substring(0, Model.CRASH_DATETIME.IndexOf(" "))
                                            @Model.Severity.DESCRIPTION
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Time</td>
                                        @{ if (Model.minute > 9)
                                            {
                                                if (Model.hour > 12)
                                                {
                                <td>@(Model.hour - 12):@Model.minute PM</td>
 }
                            else if (Model.hour == 12)
                            {
                                <td>@(Model.hour):@Model.minute PM</td>
 }
                            else if (Model.hour == 0)
                            {
                                <td>12:@Model.minute AM</td> }
                                                else
                                                {
                                <td>@(Model.hour):@Model.minute AM</td>
 }
                        }
                        else
                        {
                            if (Model.hour > 12)
                            {
                                <td>@(Model.hour - 12):0@(Model.minute) PM</td>
 }
                            else if (Model.hour == 12)
                            {
                                <td>@(Model.hour):0@(Model.minute) PM</td>
 }
                            else if (Model.hour == 0)
                            {
                                <td>12:0@(Model.minute) AM</td>
 }
                            else
                            {
                                <td>@Model.hour:0@(Model.minute) AM</td>
 }
                        } }

                                    </tr>
                                    @{ if (Model.WORK_ZONE_RELATED == 1)
                                        {
                                <tr>
                                    <td>Work Zone Related?</td>
                                    <td>Yes</td>
                                </tr> } }
                                    @{ if (Model.PEDESTRIAN_INVOLVED == 1)
                                        {
                                <tr>
                                    <td>Pedestrian Involved?</td>
                                    <td>Yes</td>
                                </tr> } }
                                    @{ if (Model.TEENAGE_DRIVER_INVOLVED == 1)
                                        {
                                <tr>
                                    <td>Teenage Driver Involved?</td>
                                    <td>Yes</td>
                                </tr>
 } }
                                    @{ if (Model.BICYCLIST_INVOLVED == 1)
                                        {
                                <tr>
                                    <td>Cyclist Involved?</td>
                                    <td>Yes</td>
                                </tr>
 } }
                                    @{ if (Model.MOTORCYCLE_INVOLVED == 1)
                                        {
                                <tr>
                                    <td>Motorcycle Involved?</td>
                                    <td>Yes</td>
                                </tr>
 } }
                                    @{ if (Model.IMPROPER_RESTRAINT == 1)
                                        {
                                <tr>
                                    <td>Improper Restraint?</td>
                                    <td>Yes</td>
                                </tr> } }
                                    @{ if (Model.UNRESTRAINED == 1)
                                        {
                                <tr>
                                    <td>Unrestrained?</td>
                                    <td>Yes</td>
                                </tr>
 } }
                                    @{ if (Model.DUI == 1)
                                        {
                                <tr>
                                    <td>DUI?</td>
                                    <td>Yes</td>
                                </tr> } }
                                    @{ if (Model.INTERSECTION_RELATED == 1)
                                        {
                                <tr>
                                    <td>Intersection Related?</td>
                                    <td>Yes</td>
                                </tr>
 } }
                                    @{ if (Model.WILD_ANIMAL_RELATED == 1)
                                        {
                                <tr>
                                    <td>Wild Animal Related?</td>
                                    <td>Yes</td>
                                </tr> } }
                                    @{ if (Model.DOMESTIC_ANIMAL_RELATED == 1)
                                        {
                                <tr>
                                    <td>Domestic Animal Related?</td>
                                    <td>Yes</td>
                                </tr>
 } }
                                    @{ if (Model.OVERTURN_ROLLOVER == 1)
                                        {
                                <tr>
                                    <td>Rollover?</td>
                                    <td>Yes</td>
                                </tr>
 } }
                                    @{ if (Model.COMMERCIAL_MOTOR_VEH_INVOLVED == 1)
                                        {
                                <tr>
                                    <td>Commercial Vehicle Involved?</td>
                                    <td>Yes</td>
                                </tr> } }
                                    @{ if (Model.OLDER_DRIVER_INVOLVED == 1)
                                        {
                                <tr>
                                    <td>Older Driver Involved?</td>
                                    <td>Yes</td>
                                </tr>
 } }
                                    @{ if (Model.NIGHT_DARK_CONDITION == 1)
                                        {
                                <tr>
                                    <td>Night/Dark Conditions?</td>
                                    <td>Yes</td>
                                </tr> } }
                                    @{ if (Model.SINGLE_VEHICLE == 1)
                                        {
                                <tr>
                                    <td>Single Vehicle?</td>
                                    <td>Yes</td>
                                </tr>
 } }
                                    @{ if (Model.DISTRACTED_DRIVING == 1)
                                        {
                                <tr>
                                    <td>Distracted Driving?</td>
                                    <td>Yes</td>
                                </tr> } }
                                    @{ if (Model.DROWSY_DRIVING == 1)
                                        {
                                <tr>
                                    <td>Drowsy Driving?</td>
                                    <td>Yes</td>
                                </tr>
 } }
                                    @{ if (Model.ROADWAY_DEPARTURE == 1)
                                        {
                                <tr>
                                    <td>Roadway Departure?</td>
                                    <td>Yes</td>
                                </tr> } }
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="model-box">
                        <iframe class="model"
                                frameborder="1"
                                referrerpolicy="no-referrer-when-downgrade"
                                @{
                                    string api_string = "https://www.google.com/maps/embed/v1/place?key=AIzaSyCroVEEEv1pj6RSfD_OPmpy0msLOvsOqXU&q=" + Model.LAT_UTM_Y + "+" + Model.LONG_UTM_X + "&zoom=16&maptype=satellite";
                                }
                                src=@api_string
                                allowfullscreen>
                        </iframe>
                    </div>

                </div>
            </div>
        </div>
        <nav>
            <ul class="main_buttons">
                <li><a href="#1">Edit Record</a></li>
                <li><a href="#work">Button2</a></li>
                <li><a href="#about">Button3</a></li>
                <li><a href="#contact">Buttonn</a></li>
                <li><a href="#elements">Support</a></li>
            </ul>
        </nav>
    </div>

    <!-- Main -->
    <div id="main">

        <!-- Intro -->
        <article id="1">
            <h2 class="major">Edit Record</h2>
            <span class="image main"><img src="images/Background.jpg" alt="" /></span>

            <partial name="EditCrash" model="Model" />
        </article>

        <!-- Work -->
        <article id="work">
            <h2 class="major">Work</h2>
            <span class="image main"><img src="images/pic02.jpg" alt="" /></span>
            <p>Adipiscing magna sed dolor elit. Praesent eleifend dignissim arcu, at eleifend sapien imperdiet ac. Aliquam erat volutpat. Praesent urna nisi, fringila lorem et vehicula lacinia quam. Integer sollicitudin mauris nec lorem luctus ultrices.</p>
            <p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet feugiat tempus.</p>
        </article>

        <!-- About -->
        <article id="about">
            <h2 class="major">About</h2>
            <span class="image main"><img src="images/pic03.jpg" alt="" /></span>
            <p>Lorem ipsum dolor sit amet, consectetur et adipiscing elit. Praesent eleifend dignissim arcu, at eleifend sapien imperdiet ac. Aliquam erat volutpat. Praesent urna nisi, fringila lorem et vehicula lacinia quam. Integer sollicitudin mauris nec lorem luctus ultrices. Aliquam libero et malesuada fames ac ante ipsum primis in faucibus. Cras viverra ligula sit amet ex mollis mattis lorem ipsum dolor sit amet.</p>
        </article>

        <!-- Contact -->
        <article id="contact">
            <h2 class="major">Contact</h2>
            <form method="post" action="#">
                <div class="fields">
                    <div class="field half">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" />
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="4"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Send Message" class="primary" /></li>
                    <li><input type="reset" value="Reset" /></li>
                </ul>
            </form>
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
            </ul>
        </article>

        <!-- Elements -->
        <article id="elements">
            <h2 class="major">Support</h2>
            <section>
                <h3 class="major">Text</h3>

                <div id="purchase">
                    <img src="https://items-images-production.s3.us-west-2.amazonaws.com/files/86f00ea2a7bd151d5411c7c50fe3281b161b38f0/original.png" alt="Don't YEET and drive" onerror="this.style.display='none'">
                    <div id="purchase-inner">
                        <p>Don't YEET and drive</p>
                        <p>$20.00</p>
                        <a target="_blank" href="https://square.link/u/bSv5gwod?src=embed">Buy now</a>
                    </div>
                </div>
                <br />
                <div id="purchase">
                    <img src="~/images/DontYEET.png" alt="Don't YEET and drive" onerror="this.style.display='none'">
                    <div id="purchase-inner">
                        <p>Don't YEET and drive</p>
                        <p>$20.00</p>
                        <a target="_blank" href="https://square.link/u/bSv5gwod?src=embed">Buy now</a>
                    </div>
                </div>



                <p>
                    This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is <em>emphasized</em>.
                    This is <sup>superscript</sup> text and this is <sub>subscript</sub> text.
                    This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>. Finally, <a href="#">this is a link</a>.
                </p>
                <hr />
                <h2>Heading Level 2</h2>
                <h3>Heading Level 3</h3>
                <h4>Heading Level 4</h4>
                <h5>Heading Level 5</h5>
                <h6>Heading Level 6</h6>
                <hr />
                <h4>Blockquote</h4>
                <blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu felis.</blockquote>
                <h4>Preformatted</h4>
                <pre><code>i = 0;

while (!deck.isInOrder()) {
print 'Iteration ' + i;
deck.shuffle();
i++;
}

print 'It took ' + i + ' iterations to sort the deck.';</code></pre>
            </section>

            <section>
                <h3 class="major">Lists</h3>

                <h4>Unordered</h4>
                <ul>
                    <li>Dolor pulvinar etiam.</li>
                    <li>Sagittis adipiscing.</li>
                    <li>Felis enim feugiat.</li>
                </ul>

                <h4>Alternate</h4>
                <ul class="alt">
                    <li>Dolor pulvinar etiam.</li>
                    <li>Sagittis adipiscing.</li>
                    <li>Felis enim feugiat.</li>
                </ul>

                <h4>Ordered</h4>
                <ol>
                    <li>Dolor pulvinar etiam.</li>
                    <li>Etiam vel felis viverra.</li>
                    <li>Felis enim feugiat.</li>
                    <li>Dolor pulvinar etiam.</li>
                    <li>Etiam vel felis lorem.</li>
                    <li>Felis enim et feugiat.</li>
                </ol>
                <h4>Icons</h4>
                <ul class="icons">
                    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
                </ul>

                <h4>Actions</h4>
                <ul class="actions">
                    <li><a href="#" class="button primary">Default</a></li>
                    <li><a href="#" class="button">Default</a></li>
                </ul>
                <ul class="actions stacked">
                    <li><a href="#" class="button primary">Default</a></li>
                    <li><a href="#" class="button">Default</a></li>
                </ul>
            </section>

            <section>
                <h3 class="major">Table</h3>
                <h4>Default</h4>
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Item One</td>
                                <td>Ante turpis integer aliquet porttitor.</td>
                                <td>29.99</td>
                            </tr>
                            <tr>
                                <td>Item Two</td>
                                <td>Vis ac commodo adipiscing arcu aliquet.</td>
                                <td>19.99</td>
                            </tr>
                            <tr>
                                <td>Item Three</td>
                                <td> Morbi faucibus arcu accumsan lorem.</td>
                                <td>29.99</td>
                            </tr>
                            <tr>
                                <td>Item Four</td>
                                <td>Vitae integer tempus condimentum.</td>
                                <td>19.99</td>
                            </tr>
                            <tr>
                                <td>Item Five</td>
                                <td>Ante turpis integer aliquet porttitor.</td>
                                <td>29.99</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2"></td>
                                <td>100.00</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <h4>Alternate</h4>
                <div class="table-wrapper">
                    <table class="alt">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Item One</td>
                                <td>Ante turpis integer aliquet porttitor.</td>
                                <td>29.99</td>
                            </tr>
                            <tr>
                                <td>Item Two</td>
                                <td>Vis ac commodo adipiscing arcu aliquet.</td>
                                <td>19.99</td>
                            </tr>
                            <tr>
                                <td>Item Three</td>
                                <td> Morbi faucibus arcu accumsan lorem.</td>
                                <td>29.99</td>
                            </tr>
                            <tr>
                                <td>Item Four</td>
                                <td>Vitae integer tempus condimentum.</td>
                                <td>19.99</td>
                            </tr>
                            <tr>
                                <td>Item Five</td>
                                <td>Ante turpis integer aliquet porttitor.</td>
                                <td>29.99</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2"></td>
                                <td>100.00</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </section>

            <section>
                <h3 class="major">Buttons</h3>
                <ul class="actions">
                    <li><a href="#" class="button primary">Primary</a></li>
                    <li><a href="#" class="button">Default</a></li>
                </ul>
                <ul class="actions">
                    <li><a href="#" class="button">Default</a></li>
                    <li><a href="#" class="button small">Small</a></li>
                </ul>
                <ul class="actions">
                    <li><a href="#" class="button primary icon solid fa-download">Icon</a></li>
                    <li><a href="#" class="button icon solid fa-download">Icon</a></li>
                </ul>
                <ul class="actions">
                    <li><span class="button primary disabled">Disabled</span></li>
                    <li><span class="button disabled">Disabled</span></li>
                </ul>
            </section>

            <section>
                <h3 class="major">Form</h3>
                <form method="post" action="#">
                    <div class="fields">
                        <div class="field half">
                            <label for="demo-name">Name</label>
                            <input type="text" name="demo-name" id="demo-name" value="" placeholder="Jane Doe" />
                        </div>
                        <div class="field half">
                            <label for="demo-email">Email</label>
                            <input type="email" name="demo-email" id="demo-email" value="" placeholder="jane@untitled.tld" />
                        </div>
                        <div class="field">
                            <label for="demo-category">Category</label>
                            <select name="demo-category" id="demo-category">
                                <option value="">-</option>
                                <option value="1">Manufacturing</option>
                                <option value="1">Shipping</option>
                                <option value="1">Administration</option>
                                <option value="1">Human Resources</option>
                            </select>
                        </div>
                        <div class="field half">
                            <input type="radio" id="demo-priority-low" name="demo-priority" checked>
                            <label for="demo-priority-low">Low</label>
                        </div>
                        <div class="field half">
                            <input type="radio" id="demo-priority-high" name="demo-priority">
                            <label for="demo-priority-high">High</label>
                        </div>
                        <div class="field half">
                            <input type="checkbox" id="demo-copy" name="demo-copy">
                            <label for="demo-copy">Email me a copy</label>
                        </div>
                        <div class="field half">
                            <input type="checkbox" id="demo-human" name="demo-human" checked>
                            <label for="demo-human">Not a robot</label>
                        </div>
                        <div class="field">
                            <label for="demo-message">Message</label>
                            <textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" class="primary" /></li>
                        <li><input type="reset" value="Reset" /></li>
                    </ul>
                </form>
            </section>

        </article>

    </div>

    <!-- Footer -->
    <!--<footer id="footer">
        <p class="copyright">&copy; Utah Motor Vehicle Incidents. Design: <a href="https://html5up.net">Bear Maximum</a>.</p>
    </footer>-->

</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->
<script nonce="frick" src="~/js/jquery.min.js"></script>
<script nonce="frick" src="~/js/browser.min.js"></script>
<script nonce="frick" src="~/js/breakpoints.min.js"></script>
<script nonce="frick" src="~/js/util.js"></script>
<script nonce="frick" src="~/js/main.js"></script>